@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.navbar.scrolled {
  opacity: 0.9;
  background-color: #232526 !important;
  transition: background-color 200ms linear; }

@media screen and (min-width: 1171px) {
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem; }
    .menu .menu-logo {
      margin-right: auto;
      padding-left: 2rem; }
      .menu .menu-logo .logo-img {
        width: 130px;
        height: 80px; }
    .menu .menu-nav {
      list-style: none;
      padding-right: 2rem; }
      .menu .menu-nav .nav-item {
        display: inline-block;
        padding: 0 1.5rem; }
        .menu .menu-nav .nav-item.current > a {
          color: #fff;
          padding: 9px 25px;
          border-bottom: 3px solid #8E0E00; }
        .menu .menu-nav .nav-item .nav-link {
          transition: all 0.5s ease-out; }
          .menu .menu-nav .nav-item .nav-link:hover {
            color: #8E0E00; } }

@media screen and (min-width: 861px) and (max-width: 1170px) {
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%; }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    top: 0; }
    .menu .menu-logo {
      margin-right: auto;
      padding-left: 2rem; }
      .menu .menu-logo .logo-img {
        width: 120px;
        height: 70px; }
    .menu .menu-nav {
      list-style: none; }
      .menu .menu-nav .nav-item {
        display: inline-block;
        padding: 0 1.5rem; }
        .menu .menu-nav .nav-item.current > a {
          color: #fff;
          padding: 9px 25px;
          border-bottom: 3px solid #8E0E00; }
        .menu .menu-nav .nav-item .nav-link {
          transition: all 0.5s ease-out; }
          .menu .menu-nav .nav-item .nav-link:hover {
            color: #8E0E00; } }

@media screen and (max-width: 860px) {
  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    .menu-btn.close {
      transform: rotate(180deg); }
      .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0.9; }
    .menu.show {
      visibility: visible; }
    .menu-logo, .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden; }
    .menu-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      background: #171819;
      transform: translate3d(0, -100%, 0);
      transition: all 0.5s ease-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0); }
    .menu-logo {
      background: #232526;
      transform: translate3d(0, 100%, 0);
      transition: all 0.5s ease-out; }
      .menu-logo.show {
        transform: translate3d(0, 0, 0); }
        .menu-logo.show .logo-img {
          width: 250px;
          height: 150px;
          background-size: cover; }
    .menu .nav-item {
      transform: translate3d(600px, 0, 0);
      transition: all 0.5s ease-out; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item.current > a {
        color: #8E0E00; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      font-size: 30px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu .nav-link:hover {
        color: #8E0E00; }
  .nav-item:nth-child(1) {
    transition-delay: 0.1s; }
  .nav-item:nth-child(2) {
    transition-delay: 0.2s; }
  .nav-item:nth-child(3) {
    transition-delay: 0.3s; }
  .nav-item:nth-child(4) {
    transition-delay: 0.4s; } }

* {
  box-sizing: border-box; }

body {
  background-color: #232526;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
  line-height: 1.5; }
  body#bg-image {
    background: url("../images/background-1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body#bg-image:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(35, 37, 38, 0.7); }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.main-heading, h2.main-heading, h3.main-heading {
    font-size: 6rem; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 4rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(40, 42, 43, 0.2); }

.text-secondary {
  color: #8E0E00; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

main {
  padding: 6rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #8E0E00;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main.show {
    visibility: hidden; }

.about-info {
  margin: 1.5rem 0;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio-img bio bio' 'exp-header exp-header exp-header' 'exp-1 exp-2 .' 'web web web' 'skill-1 skill-2 skill-3' 'skill-4 . .' 'programming programming programming' 'skill-5 skill-6 skill-7' 'database database database' 'skill-8 skill-9 .';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-img {
    grid-area: bio-img;
    border-radius: 50%;
    border: #8E0E00 3px solid;
    margin: auto;
    width: 250px;
    height: 250px; }
  .about-info .bio {
    grid-area: bio;
    padding-left: 1.5rem;
    border-left: 3px #8E0E00 solid;
    border-bottom: 3px #8E0E00 solid; }
    .about-info .bio h3 {
      font-size: 1.5rem;
      font-weight: 300; }
      .about-info .bio h3 .text-secondary {
        font-weight: 400;
        color: #b21200; }
    .about-info .bio .text-bio1 {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.2em; }
    .about-info .bio .text-bio2 {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.4em; }
      .about-info .bio .text-bio2 .text-secondary {
        color: #b21200; }
  .about-info .exp-header {
    grid-area: exp-header; }
  .about-info .exp-1 {
    grid-area: exp-1; }
  .about-info .work {
    background: #2f3233;
    padding: 0.5rem;
    border-left: #8E0E00 5px solid; }
  .about-info .web {
    grid-area: web; }
  .about-info .programming {
    grid-area: programming; }
  .about-info .database {
    grid-area: database; }
  .about-info .skill-1 {
    grid-area: skill-1; }
  .about-info .skill-2 {
    grid-area: skill-2; }
  .about-info .skill-3 {
    grid-area: skill-3; }
  .about-info .skill-4 {
    grid-area: skill-4; }
  .about-info .skill-5 {
    grid-area: skill-5; }
  .about-info .skill-6 {
    grid-area: skill-6; }
  .about-info .skill-7 {
    grid-area: skill-7; }
  .about-info .skill-8 {
    grid-area: skill-8; }
  .about-info .skill-9 {
    grid-area: skill-9; }
  .about-info .skills {
    background: #2f3233;
    padding: 0.5rem;
    border-bottom: #8E0E00 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #8E0E00;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 1rem 2rem;
      background: #8E0E00;
      color: #fff; }
      .boxes div:hover span {
        color: #fff; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #8E0E00;
    color: #fff; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #a0a5a8;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #0b0b0b;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 861px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 860px) {
  main {
    align-items: center;
    text-align: center; }
    main#home h1 {
      margin-top: 15vh; }
    main .lg-heading {
      font-size: 4.5;
      line-height: 1;
      margin-bottom: 1rem; }
  .navbar {
    visibility: hidden; }
  .menu-btn {
    visibility: visible; }
  ul.menu-nav,
  div.menu-logo {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-logo.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-logo {
    height: 25vh;
    font-size: 24px;
    transform: translate3d(100%, 0, 0); }
    .menu-logo .logo-img {
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bio-img bio-img' 'bio bio' 'exp-header exp-header' 'exp-1 exp-1' 'web web' 'skill-1 skill-2' 'skill-3 skill-4' 'programming programming' 'skill-5 skill-6' 'skill-7 .' 'database database' 'skill-8 skill-9';
    grid-template-columns: repeat(2, 1fr); }
    .about-info .bio {
      padding: 1.5rem;
      border-top: 3px #8E0E00 solid;
      border-left: none;
      border-bottom: 3px #8E0E00 solid; }
    .about-info .bio-img {
      width: 150px;
      height: 150px; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .boxes div {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem; } }

@media screen and (max-width: 600px) {
  main {
    padding: 2rem; }
    main#home {
      overflow: hidden; }
      main#home h1 {
        margin-top: 10vh; }
    main .main-heading {
      font-size: 4.5rem; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 3.5rem; }
  .about-info {
    grid-template-areas: 'bio-img' 'bio' 'exp-header' 'exp-1' 'web' 'skill-1' 'skill-2' 'skill-3' 'skill-4' 'programming' 'skill-5' 'skill-6' 'skill-7' 'database' 'skill-8' 'skill-9';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: 1fr; } }
