//Wide screens
@include mediaXL{
    .projects{
        grid-template-columns: repeat(4,1fr);
    }
}
//Desktop & Laptops
@include mediaLG{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }
}
//Tables & Small laptops
@include mediaMD{
    main {
        align-items: center;
        text-align: center;
        .lg-heading{
            font-size: 4.5;
            line-height: 1;
            margin-bottom: 1rem;
        }
    }
    .navbar{
        visibility: hidden;
    }
    .menu-btn{
        visibility: visible;
    }
    ul.menu-nav,
    div.menu-logo{
        float: none;
        width: 100%;
        min-height: 0;
        &.show{
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav{
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }
    .menu-logo{
        height: 25vh;
        font-size: 24px;
        transform: translate3d(100%,0,0);
        .logo-img{
            width: 150px;
            height: 150px;
        }
    }

    .about-info{
        grid-template-areas: 
        'bio-img bio-img'
        'bio bio'
        'exp-header exp-header'
        'exp-1 exp-1'
        'tech-skills tech-skills'
        'skill-1 skill-2'
        'skill-3 skill-4'
        'skill-5 skill-6'
        'skill-7 skill-8'
        ;
        grid-template-columns: repeat(2,1fr);
        .bio{
        padding: 1.5rem;
        border-top: 3px $secondary-color solid;
        border-left: none;
        border-bottom: 3px $secondary-color solid;
        }
        .bio-img{
            width: 150px;
            height: 150px;
        }
    }
    .projects{
        grid-template-columns: repeat(2,1fr);
    }
    .boxes{
        div{
            padding: 1.5rem 2.5rem;
            font-size: 1.5rem;
        }
    }
}
//Phones
@include mediaSM{
    main {
        padding: 2rem;
        #home h1 {
          margin-top: 10vh;
        }
    
        .lg-heading {
          margin-top:1rem;
          font-size: 3.5rem;
        }
      }
      .about-info{
                grid-template-areas: 
                'bio-img'
                'bio'
                'exp-header'
                'exp-1'
                'tech-skills'
                'skill-1'
                'skill-2'
                'skill-3'
                'skill-4'
                'skill-5'
                'skill-6'
                'skill-7'
                'skill-8'
                ;
                grid-template-columns: 1fr;
            
            }
      .projects {
        grid-template-columns: 1fr;
      }
//     main { 
//         padding: 2rem;
//     #home h1{
//         margin-top: 10vh;
//     }
//     .lg-heading {
//         margin-top:1rem;
//         font-size: 4rem;
//       }
    
// }
//     
//     .projects{
//         grid-template-columns: 1fr;
//     }
//     .boxes{
//         div{
//             padding: 1rem 2rem;
//             font-size: 1.5rem;
//         }
//     }
}