<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Welcome, This is My Portfolio</title>
</head>

<body id="bg-image">
  <header>
    <nav class="navbar">
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>
      <div class="menu">
        <div class="menu-logo">
          <a href="index.html">
            <img src="images/logo_jms.png" class="logo-img" alt="LOGO">
          </a>
        </div>
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item current">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About Me</a>
          </li>
          <li class="nav-item">
            <a href="projects.html" class="nav-link">My Projects</a>
          </li>
          <li class="nav-item">
            <a href="contacts.html" class="nav-link">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main id="home" class="main-wrapper">
    <h1 class="main-heading">
      James Nico <span class="text-secondary">Tenebro</span>
    </h1>
    <h2 class="sm-heading">Web Developer & Programmer</h2>
    <div class="icons">
      <a href="https://www.facebook.com/jamesnicotenebro">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/james-nico-tenebro-663445241/">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/jmsnico">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>
  <script src="js/main.js"></script>
</body>

</html>